// @import url('../../../template/lib/animate/animate.min.css');
// @import url('../../../template/lib/owlcarousel/assets/owl.carousel.min.css');
// @import url('../../../template/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css');

.card{
    padding:0;
    
  }
  .card-wrapper{
    width: 80%;
    grid-gap: 5%;
  }